assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/backend/runtime/*
!protected/backend/runtime/.gitignore
userdata/*
!userdata/image
userdata/image/*
!userdata/image/.gitignore
!userdata/carousel
userdata/carousel/*
!userdata/carousel/.gitignore
!userdata/tab
userdata/tab/*
!userdata/tab/.gitignore
!userdata/accordion
userdata/accordion/*
!userdata/accordion/.gitignore
*.bak
*.swp
