<!-- Place your Google fonts here as a cut and paste then choose which header and fonts etc need the font families - NB if the family only come in Italic then you must state the font style as Italic too -->

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,800,400' rel='stylesheet' type='text/css'>

<style type="text/css">


html, h2, h4, body, p {	height: 100%;
				padding: 0%;
				margin: 0%;
				border: 0px;
				line-height: 140%;}

/* Global Hyperlink settings - will affect menu text colour if no text settings */ 
a { text-decoration: none; color:#14a79d; }
a:visited  { text-decoration: none; color:#14a79d; }
a:active { text-decoration: none; color:#ec008c; }
a:hover { text-decoration: none; color:#ec008c;}



h1 {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: white;
	font-size: 36px;
	font-weight: 800;
	line-height: 90%;}

h2 {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: white;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;}


h3 {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: white;
	font-size: 20px;
	font-weight: 700;
	font-stretch: wider;}

h4 {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: white;
	font-size: 16px;
	font-weight: 700;
	font-stretch: wider;}

p  {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: white;
	font-size: 14px;
	font-weight: normal
	font-stretch: expanded}

blockquote {font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #5b5b5b;
	font-size: 14px;
	font-style: italic;
	font-weight: 300}


html { font-family: 'Open Sans', Verdana, sans-serif !important;
	font-size: 12px;
	font-weight:normal}

</style>
