<style>
    /* the page split into two equal width cols */
    .all {
        width:100%;
        Xbackground: #B4D47D;
    }

    .lhs {
        float: left;
        width: 50%;
        Xbackground: #B5E3FF;
    }

    .rhs {
        float: right;
        width: 50%;
        Xbackground: #FFACAA;
    }
</style>

<style>
    /* bootstrap overrides */
    .form-group{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left:5px;
        padding-right:5px;
    }
    .input-sm, .form-group-sm .form-control {
        font-size: 14px;
    }

</style>

<style>
    textarea {
        width:50%;
        height:200px;
    }
</style>

<div class="container-fluid">
    <!-- price tab -->
    <div id="priceTab" class="tab-content">
        <table class="table Xtable-striped table-bordered table-condensed Xtable-hover" ng-cloak>
            <tr>
                <th class='col-heading'>  Customer Group</th>
                <th class='col-heading'>  Calculated<br/>Price</th>
                <th class='col-heading'>
                    <span>Manual Price</span>
                    <span>
                        <button style="margin-left:20px; border:none" type="button" class="btn-xs btn-primary" ng-click="saveManualPrices()">Apply</button>
                   </span>
                </th>
                <th class='col-heading'>  Variance</th>
                <th class='col-heading'>  Profit</th>
                <th class='col-heading'>  Gross<br/>Price</th>
            </tr>
            <tr ng-repeat="markupGroup in markupGroups | orderBy:'description'">
                <td class='col-item'>{{markupGroup.description}}</td>
                <td class='col-item'>{{pricetabGetCalculatedPrice(markupGroup) | number:2}}</td>
                <td class="col-item"><input fcsa-number="{ maxDecimals: 2, min: 0, preventInvalidInput: true }" type="text" class='col-item' ng-model="markupGroup.manual"  /></td>
                <td class='col-item'>{{pricetabGetVariance(markupGroup) | number:2}}%</td>
                <td class='col-item'>{{pricetabGetProfit(markupGroup) | number:2}}</td>
                <td class='col-item'>{{pricetabGetGrossPrice(markupGroup) | number:2}}</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/ng-template" id="confirmDialogTemplate">
    <p><center>Delete. Are you sure?</center></p>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")>OK</button>
    </div>
</script>
