<!-- Place your Google fonts here as a cut and paste then choose which header and fonts etc need the font families - NB if the family only come in Italic then you must state the font style as Italic too -->

<link href='https://fonts.googleapis.com/css?family=Boogaloo|Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

<style type="text/css">


html, h2, h4, body, p {	height: 100%;
				padding: 0%;				
				border: 0px;
				line-height: 140%;}

a { text-decoration: none; color:#b50080; font-weight: bold; }
a:visited { text-decoration: none; color:#b50080; font-weight: bold; }
a:hover { text-decoration: none; color:#d4457e; font-weight: bold; text-shadow: 1px 1px #3d3d3d }
a:active { text-decoration: none; color:#b50080; font-weight: bold; text-shadow: 1px 1px #3d3d3d }

h1 {	font-family: 'Boogaloo', Verdana, sans-serif !important;
	color: black;
	font-size: 32px;
	font-weight: 400;
	line-height: 100%;}

h2 {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #313131;
	font-size: 18px;
	font-weight: 700;
	font-style: italic;}


h3 {	font-family: 'Boogaloo', Verdana, sans-serif !important;
	color: #b50080;
	font-size: 24px;
	font-weight: 400;
	line-height: 100%;}

h4 {	font-family: 'Boogaloo', Verdana, sans-serif !important;
	color: black;
	font-size: 18px;
	font-weight: 400;}

p  {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: black;
	font-size: 16px;
	font-weight: normal}

blockquote {font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #5b5b5b;
	font-size: 14px;
	font-weight: 300}


html { font-family: 'Comfortaa', Verdana, sans-serif !important;
	font-size: 14px;
	font-weight:normal}

</style>
