

<link href='http://fonts.googleapis.com/css?family=Handlee|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

<style type="text/css">

html, body {	height: 100%;
		padding: 0;
		margin: 20;
		border: 0;}

/* Global Hyperlink settings - will affect menu text colour if no text settings */
a { color:#000000 } 
a { text-decoration: none; color:#00ad44; }
a:visited { text-decoration: none; color:#fc8d3d; }
a:hover { text-decoration: none; color:#00adc9; }
a:focus { text-decoration: none; color:#000000; }
a:hover, a:active { text-decoration: none; color:#00adc9 }



h1 {	font-family: 'Handlee', serif !important;
	color: #00ad44;
	font-size: 32px;
	font-weight: 400;
	font-stretch: condensed;}

h2 {	font-family: 'Handlee', serif !important;
	color: #00ad44;
	font-size: 28px;
	font-weight: 400;
	font-stretch: condensed;} 


h3 {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #00ad44;
	font-size: 20px;
	font-weight: 700;
	font-stretch: condensed;}

h4 {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #00ad44;
	font-size: 16px;
	font-weight: 700;
	font-stretch: condensed;}

p  {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #000000;
	font-size: 14px;
	font-weight: normal}

blockquote {font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #5b5b5b;
	font-size: 14px;
	font-style: italic;
	font-weight: normal}


html { font-family: 'Open Sans', Verdana, sans-serif !important;
	font-size: 12px;
	font-weight:normal}

</style>
