/* This css file is TOTALLY ignored. Not inclued. Needs to be. See the @@TODO in the .php file */

.filter-header {
    color:#575757;
    font-weight:bold;
}

h3 { color: grey; }

* {
	color:#575757;
}

.filter-detail  {
font-weight:normal
}
