assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/backend/runtime/*
!protected/backend/runtime/.gitignore
userdata/*
!userdata/.gitignore
!userdata/event
userdata/event/*
!userdata/event/.gitignore
!userdata/event/thumb
userdata/event/thumb/*
!userdata/event/thumb/.gitignore
!userdata/program
userdata/program/*
!userdata/program/.gitignore
!userdata/program/thumb
userdata/program/thumb/*
!userdata/program/thumb/.gitignore
*.bfproject
*.bak
*.swp
