<style>
    /* the page split into two equal width cols */
    .all {
        width:100%;
        Xbackground: #B4D47D;
    }

    .lhs {
        float: left;
        width: 50%;
        Xbackground: #B5E3FF;
    }

    .rhs {
        float: right;
        width: 50%;
        Xbackground: #FFACAA;
    }
</style>

<style>
    /* bootstrap overrides */
    .form-group{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left:5px;
        padding-right:5px;
    }
    .input-sm, .form-group-sm .form-control {
        font-size: 14px;
    }
</style>

<div class="container-fluid">

    <form ng-submit="saveItem()" class="form-horizontal" role="form">
        <div class="all">

            <div class="lhs">
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="name">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Company name" ng-model="item.name" ng-minlength="2">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="discount_percent">Discount %</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="0.00" ng-model="item.discount_percent">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="telephone">Telephone</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="" ng-model="item.telephone">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="mobile">Mobile</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="" ng-model="item.mobile">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="fax">Fax</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="" ng-model="item.fax">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="stock_area_id">Area</label>
                    <div class="col-sm-5">
                        <select ng-model="selectedArea" ng-options="area.name for area in areas" ng-change="selchangeArea()" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="stock_markup_group_id">Markup Group</label>
                    <div class="col-sm-5">
                        <select ng-model="selectedMarkupGroup" ng-options="markupGroup.description for markupGroup in markupGroups" ng-change="selchangeMarkupGroup()" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="CIF">CIF</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="" ng-model="item.CIF">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="forma_de_pago">Forma de Pago</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Method of payment" ng-model="item.forma_de_pago">
                    </div>
                </div>

            </div>

            <div class="rhs">
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="address1">Address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Line 1" ng-model="item.address1">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="address2"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Line 2" ng-model="item.address2">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="address3"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Line 3" ng-model="item.address3">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="post_code">Post Code</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="" ng-model="item.post_code">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="contact">Contact</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="" ng-model="item.contact">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="email">Email</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="" ng-model="item.email">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label col-sm-3" for="balance">Balance</label>
                    <div class="col-sm-2">
                        <input type="text" disabled class="form-control" placeholder="" ng-model="item.balance">
                    </div>
                </div>
            </div>

            <!--
            ('id', 'uid', 'name', 'address1', 'address2', 'address3', 'post_code', 'contact_title', 'contact_first_name', 'contact_last_name'
            , 'telephone', 'mobile', 'fax', 'email', 'discount_percent', 'balance', 'link_field', 'notes', 'CIF', 'forma_de_pago',
            /*****/ 'stock_markup_group_id', 'stock_area_id')
            -->

            <div style="clear: both"></div>

            <br/>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Orders</a></li>
                <li><a href="#">Notes</a></li>
            </ul>

            <hr/>

            <div style="width:20%; margin:0px auto;">

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-default">Save</button>

                        <button type="button" class="btn btn-default" ng-click="cancelItem()">Cancel</button>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>



