RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^jam(.+)$ jamcgi/jam?jam=/jam/run/$1 [QSA]
RewriteRule ^jamsys/(.+)$ jamcgi/jam?jam=/jam/sys/$1 [QSA]
