.megamenu{
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	background: #88597C;
	border: 1px solid #5B1A4A;
	border-width: 1px 1px;
	padding: 10px;
	font: normal 12px Verdana;
	z-index: 100;
filter:alpha(opacity=50); // For IE
-moz-opacity:0.5;         // Older versions of Mozilla
-khtml-opacity: 0.5;      // For Sarari 1.x (I believe)
opacity: 0.5;             // General usage
}

.megamenu .column{
	float: left;
	width: 180px; /*width of each menu column*/
	margin-right: 5px;
}

.megamenu .column ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.megamenu .column ul li{
	padding-bottom: 5px;
}

.megamenu .column h3{
	color: #FFFFFF;
	background: #88597C;
	font: bold 13px Arial;
	margin: 0 0 5px 0;
}

.megamenu .column ul li a{
	color: #F7F0F3;
	text-decoration: none;
}

.megamenu .column ul li a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

