favicon.ico
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/backend/runtime/*
!protected/backend/runtime/.gitignore
userdata/*
!userdata/download
!userdata/image
userdata/image/*
!userdata/image/.gitignore
!userdata/carousel
userdata/carousel/*
!userdata/carousel/.gitignore
!userdata/tab
userdata/tab/*
!userdata/tab/.gitignore

!userdata/jelly
!userdata/jelly/.gitignore
!userdata/jelly/sliderhtml/.gitignore
!userdata/jelly/sliderimage/.gitignore
!userdata/jelly/gallery/.gitignore
!userdata/jelly/adblock/.gitignore
!userdata/jelly/download/.gitignore
userdata/jelly/*
userdata/jelly/sliderhtml/*
userdata/jelly/sliderimage/*
userdata/jelly/gallery/*
userdata/jelly/adblock/*
userdata/jelly/download/*

*.bak
