assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/backend/runtime/*
!protected/backend/runtime/.gitignore
userdata/*
!userdata/download/.gitignore
!userdata/image
userdata/image/*
!userdata/image/.gitignore
!userdata/carousel
userdata/carousel/*
!userdata/carousel/.gitignore
!userdata/tab
userdata/tab/*
!userdata/tab/.gitignore

!userdata/jelly
userdata/jelly/*
!userdata/jelly/.gitignore
userdata/jelly/sliderhtml/*
!userdata/jelly/sliderhtml/.gitignore
userdata/jelly/sliderimage/*
!userdata/jelly/sliderimage/.gitignore
userdata/jelly/gallery/*
!userdata/jelly/gallery/.gitignore
userdata/jelly/download/*
!userdata/jelly/download/.gitignore

*.bak
