assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/backend/runtime/*
!protected/backend/runtime/.gitignore
userdata/*
!userdata/image/.gitignore
!userdata/frontpage/.gitignore

*.bak
