assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/backend/runtime/*
!protected/backend/runtime/.gitignore
userdata/*
!userdata/image
userdata/image/*
!userdata/image/,gitignore
!userdata/.gitignore
!userdata/image/.gitignore
*.bfproject
*.bak
