<!-- Place your Google fonts here as a cut and paste then choose which header and fonts etc need the font families - NB if the family only come in Italic then you must state the font style as Italic too -->

<link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>

<style type="text/css">


html, h2, h4, body, p {	height: 100%;
				padding: 0%;				
				border: 0px;
				line-height: 140%;}

a { text-decoration: none; color:#863c81; font-weight: bold; }
a:visited { text-decoration: none; color:#863c81; font-weight: bold; }
a:hover { text-decoration: none; color:#955691; font-weight: bold; text-shadow: 1px 1px #b7b7b7 }
a:active { text-decoration: none; color:#863c81; font-weight: bold; text-shadow: 1px 1px #b7b7b7 }

h1 {	font-family: 'Comfortaa', Verdana, sans-serif !important;
	color: #6f4619;
	font-size: 20px;
	font-weight: 700;
	line-height: 100%;}

h2 {	font-family: 'Comfortaa', Verdana, sans-serif !important;
	color: #7a7a7a;
	font-size: 18px;
	font-weight: 400;}


h3 {	font-family: 'Comfortaa', Verdana, sans-serif !important;
	color: #6f4619;
	font-size: 20px;
	font-weight: 700;
	line-height: 100%;}

h4 {	font-family: 'Comfortaa', Verdana, sans-serif !important;
	color: #6f4619;
	font-size: 16px;
	font-weight: 700;}

p  {	font-family: 'Comfortaa', Verdana, sans-serif !important;
	color: #6f4619;
	font-size: 14px;
	font-weight: normal}

blockquote {font-family: 'Comfortaa', Verdana, sans-serif !important;
	color: #5b5b5b;
	font-size: 14px;
	font-weight: 300}


html { font-family: 'Comfortaa', Verdana, sans-serif !important;
	font-size: 12px;
	font-weight:normal}

</style>
