<link href='http://fonts.googleapis.com/css?family=Sofadi+One|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

<style type="text/css">

html, body {height: 100%;
		padding: 0;
		margin: 0px;
		border: 0;}

html * {'Source+Sans+Pro:400,700,400italic|Cutive+Mono', sans-serif !important;}

/* Global Hyperlink settings - will affect menu text colour if no text settings */
a { color:#FFFFFF } 
a { text-decoration: none; color:#FFFFFF; }
a:visited { text-decoration: none; color:#FFFFFF; }
a:hover { text-decoration: none; color:#FFFFFF; }
a:focus { text-decoration: none; color:#FFFFFF; }
a:hover, a:active { text-decoration: none; color:#FFFFFF }



h1 {	font-family: 'Sofadi One', Verdana, serif !important;
	color: #30a64f;
	font-size: 32px;
	font-weight: 700;
	font-stretch: condensed;}

h2 {	font-family: 'Sofadi One', Verdana, serif !important;
	color: #a70055;
	font-size: 28px;
	font-weight: 700;
	font-stretch: condensed;}

h3 {	font-family: 'Sofadi One', Verdana, serif !important;
	color: #30a64f;
	font-size: 24px;
	font-weight: 700;
	font-stretch: condensed;}

h4 {	font-family: 'Sofadi One', Verdana, serif !important;
	color: #a70055;
	font-size: 24px;
	font-weight: 700;
	font-stretch: condensed;}

p  {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #000000;
	font-size: 16px;
	font-weight: normal}

blockquote {	font-family: 'Open Sans', Verdana, sans-serif !important;
	color: #5b5b5b;
	font-size: 16px;
	font-style: italic;
	font-weight: normal}


html { font-family: 'Open Sans', Verdana, sans-serif !important;
font-size: 12px;}

</style>
