#cool-wrapper {
	background: #f0ffff;
	border-bottom: 1px solid #ccc;
height: 90%;
	width: 100%;
	position: absolute;
	top: -10%;
	left: 0;
}
#carousel-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	width: 100%;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#carousel {
	width: 600px;
	height: 600px;
	overflow: hidden;
}
#carousel img {
	display: block;
	float: left;
}
#pager-wrapper {
	height: 120px;
	width: 100%;
	overflow: hidden;
	position: absolute;
top: 75%;
	Xbottom: -35px;
	left: 0;
	z-index: 2;
}
#pager img {
	cursor: pointer;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	display: block;
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 10px;
	float: left;
}
#pager img:hover {
	background: #eff;
}
#pager img.selected {
	background: #dff;
}
