<style>

label {text-align: right;}
Xhtml, Xbody {
    margin: 0;
    height: 100%;
    background-color: #2c333b;
}   
.uk-container { border-radius: 25px; padding:50px; background-color: #dee6f1; }

.rowHighlight:hover {
	background-color: #ddf0ff;
	cursor:pointer;
}

</style>
