<!-- Google fonts
<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
-->

<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Cutive+Mono' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Flavors' rel='stylesheet' type='text/css'>

<style type="text/css">

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

html * {
	/*font-size: 1em !important;*/
	/*font-family: Arial !important;*/
	/*font-family: 'Raleway', sans-serif !important;*/
	font-family: 'Source+Sans+Pro:400,700,400italic|Cutive+Mono', sans-serif !important;
	/*font-family: 'Flavors', cursive !important;*/
	/*color:#00ff00 !important;*/
}

a { color:#000000 } /* Globally */
a:visited { text-decoration: none; color:#000000; }
a:hover { text-decoration: none; color:#000000; }
a:focus { text-decoration: none; color:#000000; }
a:hover, a:active { text-decoration: none; color:0###000 }

/* Jacquies */
h1 {	font-family: 'Cutive Mono', serif !important;
	color: #000000;
	font-size: 32px;
	font-weight: 700;
	font-stretch: condensed;}

h2 {	font-family: 'Cutive Mono', serif !important;
	color: #ff5900;
	font-size: 28px;
	font-weight: 900;
	font-stretch: condensed;
	text-shadow: 2px 2px 5px #5b5b5b;
}

h3 {	font-family: 'Cutive Mono', serif !important;
	color: #ff5900;
	font-size: 24px;
	font-weight: 900;
	font-stretch: condensed;
	text-shadow: 2px 2px 5px #5b5b5b;}

h4 {	font-family: 'Cutive Mono', serif !important;
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	font-stretch: condensed;}

p  {	font-family: 'Source Sans Pro', Verdana, sans-serif !important;
	color: #000000;
	font-size: 16px;
	font-weight: normal;
	text-indent: 0px}

blockquote {	font-family: 'Source Sans Pro', Verdana, sans-serif !important;
	color: #5b5b5b;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	text-indent: 50px}

/* 'a' is required for the menu font */
a {	font-family: 'Cutive Mono', serif !important;
	color: #000000;
	font-weight: 700;
	font-stretch: ultra-condensed;}


html { font-size: 14px;}

</style>
